<ion-view view-title="{{ dash.getViewTitle() }}">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="dash.prevMonth()" style="min-width:85px">
            {{ dash.getPreviousMonthName() }}
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-right" ng-click="dash.nextMonth()" style="min-width:85px"
                ng-if="dash.timeFrame.canMoveForward">
            {{ dash.getNextMonthName() }}
        </button>

    </ion-nav-buttons>

    <ion-content>

        <div class="item">
            <div class="dashboard-header">
                <span class="dash-total">{{ dash.currentSold | currency:tran.currency}}</span>
            </div>

        </div>

        <div class="item fake-tabs">
            <div class="fake-tab">
                <button class="button button-positive full-width no-border-radius active"
                        ng-click="dash.changeTransactionType(dash.TransactionTypes.Expense)"
                        ng-class="{'inactive': dash.selectedTransactionType !== dash.TransactionTypes.Expense}">
                    Expenses
                </button>
            </div>
            <div class="fake-tab">
                <button class="button button-positive full-width no-border-radius active"
                        ng-click="dash.changeTransactionType(dash.TransactionTypes.Income)"
                        ng-class="{'inactive': dash.selectedTransactionType !== dash.TransactionTypes.Income}">
                    <span>Income</span>
                </button>
            </div>

        </div>

        <ion-list>
            <ion-item ng-repeat="tran in dash.transactions | filter: {'type': dash.selectedTransactionType} | orderBy:dash.sortTransactions"
                      class="log-item" show-delete="false" can-swipe="true">
        <span class="log-item-date">
            <i class="ion-refresh log-item-recurring" ng-if="tran.recurrenceId"></i>
            {{ tran.date.format('DD/MM') }}</span>
                <span class="log-item-amount">{{ tran.amountSigned | currency:tran.currency}}</span>

                <div class="log-item-category">
                    {{ tran.category.name }}
                    <div class='log-item-note'>{{ tran.note }}</div>
                </div>

                <ion-option-button class="button-info" ng-click="dash.editTransaction(tran)">
                    Edit
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <a class="button button-balanced round-button" ng-if="dash.selectedTransactionType === dash.TransactionTypes.Income"
       ui-sref="transaction.add({transactionType: 'income'})">
        <div class="icon plus-icon"></div>
    </a>
    <a class="button button-assertive round-button" ng-if="dash.selectedTransactionType === dash.TransactionTypes.Expense"
       ui-sref="transaction.add({transactionType: 'expense'})">
        <div class="icon minus-icon"></div>
    </a>
</ion-view>
