<ion-view view-title="Dashboard">
  <ion-content>
    <a ui-sref="account.logout" class="button">Logout</a>
    <div class="item">
      Current Sold: {{dash.currentSold | currency:tran.currency}}
    </div>

    <div class="row">
      <div class="col col-50">
        <a class="button button-assertive" ui-sref="transaction.add({transactionType: 'expense'})">Add expense</a>
      </div>
      <div class="col col-50">
        <a class="button button-balanced" ui-sref="transaction.add({transactionType: 'income'})">Add income</a>
      </div>
    </div>

    <div class="item tabs">
      <button class="tab-item button button-assertive full-width no-border-radius active" ng-click="dash.changeTransactionType(dash.TransactionTypes.Expense)">
        Expenses
      </button>
      <button class="tab-item button button-balanced full-width no-border-radius" ng-click="dash.changeTransactionType(dash.TransactionTypes.Income)">
        <span>Income</span>
      </button>
    </div>
    
    <button ng-click="dash.addDefault()">Add default category</button>

    <ion-list>
      <ion-item ng-repeat="tran in dash.transactions | filter: {'type': dash.selectedTransactionType} | orderBy:dash.sortTransactions" class="log-item" show-delete="false" can-swipe="true">
        <span class="log-item-date">{{tran.date.format('DD/MM')}}</span>
        <span class="log-item-amount">{{tran.amountSigned | currency:tran.currency}}</span>
        <div class="log-item-category">
          {{tran.category.name}}
          <div class='log-item-note'>{{tran.note}}</div>
        </div>

        <ion-option-button class="button-info" ng-click="dash.editTransaction(tran)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>