<ion-view view-title="Dashboard">
  <ion-content>
    <a ui-sref="account.logout" class="button">Logout</a>
    <div class="item">
      Current Sold: {{dash.currentSold}}
    </div>

    <div class="row">
      <div class="col col-50">
        <a class="button button-assertive" ui-sref="transaction.add({transactionType: 'expense'})">Add expense</a>
      </div>
      <div class="col col-50">
        <a class="button button-balanced" ui-sref="transaction.add({transactionType: 'income'})">Add income</a>
      </div>
    </div>
    
    <div class="item tabs">
      <a class="tab-item button button-assertive full-width no-border-radius active" href="#">
        Expenses
      </a>
      <a class="tab-item button button-balanced full-width no-border-radius" href="#">
        <span>Income</span>
      </a>
    </div>

    <ion-list>
      <ion-item ng-repeat="item in dash.expenseTransactions" class="log-item">
        
          <span class="log-item-date">{{item.date.format('DD/MM')}}</span>
          <span class="log-item-amount">{{item.amountSigned | currency:item.currency}}</span>
          <span class="log-item-category">{{item.category}}</span>        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

