<ion-view view-title="Settings">
    <ion-content>
        <ul class="list">
             <a class="item item-icon-left"  ui-sref="tabs.category.list">
                <i class="icon ion-ios-list"></i>
                List of Categories
            </a>
             <a class="item item-icon-left"  href='javscript:;'>
                <i class="icon ion-cash"></i>
                Currency <i class='coming-soon'>(coming soon)</i>
            </a>
             <a class="item item-icon-left" href='javscript:;'>
                <i class="icon ion-ios-people"></i>
                Linked Accounts <i class='coming-soon'>(coming soon)</i>
            </a>
             <a class="item item-icon-left" ui-sref='account.logout'>
                <i class="icon ion-ios-people"></i> Logout
            </a>
        </ul>
    </ion-content>
</ion-view>
