<ion-view view-title="Transaction">
  <ion-content>
    <form name="transactionForm" novalidate="" ng-submit="tran.execute(transactionForm)">
      <ul class="list">
        <li class="item">
          <ionic-datepicker input-obj="tran.datepickerObject">
            <button type="button" class="button button-block button-positive">{{tran.transaction.date | pfMomFilter:"DD MMMM YYYY"}}</button>
          </ionic-datepicker>
        </li>
        <li class="item">
          <label class="transaction item-input">
            <span class="input-label">Amount</span>
            <input type="tel" name="amount" ng-model="tran.transaction.amount" max-length="10" placeholder="0">
          </label>
        </li>

        <li class="item">
          <label class="item item-input item-select">
            <span class="input-label">
        Category
      </span>
            <select ng-options="cat as cat.name for cat in tran.categories track by cat.$id" ng-model="tran.transaction.category">
            </select>
          </label>
        </li>

        <li class="item">
          <label class="item item-input item-input">
            <input type="text" ng-model="tran.transaction.note" max-length="1000" placeholder="Note">
          </label>
        </li>
        <li class="item">
          <ion-toggle ng-model="tran.useRecurrence" ng-checked="tran.useRecurrence" toggle-class="toggle-calm">Recurring</ion-toggle>
          <div ng-if="tran.useRecurrence">
            <label class="item item-input item-select">
              <span class="input-label">Happens every:</span>
              <select ng-model="tran.selectedRecurrencePeriod" ng-options="r.name for r in ::tran.recurrencePeriods"></select>
            </label>
            <label class="item item-input item-select" ng-if="tran.selectedRecurrencePeriod.key === '1W' || tran.selectedRecurrencePeriod.key === '2W'">
              <span class="input-label">On:</span>
              <select ng-model="tran.selectedWeekDayRecurrence" ng-options="r.long for r in ::tran.weekDayRecurrence"></select>
            </label>
            <label class="item item-input item-select fake-select" ng-if="tran.selectedRecurrencePeriod.key === '1M'">
              <span class="input-label">On:</span>
              <span class="recurrence-monthly-date"> Day {{tran.selectedMonthDayRecurrence}}</span>
            </label>
          </div>
        </li>
        <li class="item">
          <button type="submit" class="button button-block" ng-class="{'button-balanced': tran.isIncome, 'button-assertive': tran.isExpense}">{{tran.buttonText}}</button>
        </li>
      </ul>

    </form>
    <button type="submit" class="button button-block button-stable" ng-click='tran.delete()' ng-if='tran.transaction.$id'>Delete</button>
  </ion-content>
</ion-view>
