<ion-view view-title="Login">
    <ion-content>
        <form ng-submit="login.submit()" class="unauthenticated-form">
            <div class="padding"></div>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Username</span>
                    <input type='text' ng-model='login.username' placeholder="Username" autofocus>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type='password' ng-model='login.password' placeholder="Password">
                </label>
            </div>
            <div class='padding'>
                <button type='submit' pf-spinner-button='login.loading' class='button button-block button-balanced button-main'>
                    Login
                </button>
                <a ui-sref='account.new' class='button button-block button-light button-noborder'>
                    Don't have an account? <b class="light-bold secondary-action">Create One</b>
                </a>
            </div>
        </form>

    </ion-content>
</ion-view>
